.wrapper{
    display: grid;
    grid-row: 40px auto auto auto auto;
    grid-column: 100%;
}

body{
    width: vw;
    height: vh;
    background-color: black;
    font-family: Arial;
    
}

header{
    text-align: left;
    justify-content: left;
    color: blue;
}
header, h1, h2{
    margin: 10px;
}
#index_header{
    background-image: url(/img/magus_ehinger_main.jpg);
}
main{
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: whitesmoke;
}

ul{
    display: flex;
    justify-content: left;
    align-items: right;
}
footer{
    color: whitesmoke;
}

.top_left{
    width: 40%;
    display: flex;
    justify-content: center;
}

.top_middle{
    margin-right: 10%;
    margin-left: 10%;
    width: 40%;
    display: flex;
    justify-content: center;
}

.top_right{
    width: 40%;
    display:flex;
    justify-content: center;
}