/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
                    /* GLOBAL */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
.wrapper {
    display: grid;
    grid-row: 40px auto auto auto auto;
    grid-column: 100%;
}

body {
    width: vw;
    height: vh;
    background-color: black;
    font-family: Arial;
    margin: 0;

}

header {
    text-align: left;
    justify-content: left;
    color: blue;
}

main {
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

/* NAV BUTTONS */
a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
    margin-right: 10px;
}

a:hover {
    background-color: green;
}

a:active {
    background-color: blue;
}
.active{
    background-color: green;
}

nav {
    background-color: rgb(46, 48, 51);
}

ul {
    position: relative;
    float: right;
    padding-left: 0px;
}
/* FOOTER */
footer {
    background-color: rgb(46, 48, 51);
    color: whitesmoke;
}

#footer_center, p {
    margin-left: 20px;
    margin-right: 20px;
    width: vw;
    text-align: center;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
                    /* INDEX */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
#index_header {
    background-image: url(/img/magus_ehinger_main.jpg);
    height: 720px;
    width: vw;
    background-repeat: no-repeat;
}

#index_header, h1 {
    padding: 565px 10px 10px 50px;

}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
                    /* IMAGES */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
.featured_images{
    display: flex;
    flex-wrap: wrap;
}
.featured_images, img{
    margin: 20px;
}
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
                    /* ABOUT */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */


/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
                    /* FEATURED */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */